// Color 
$main-color: #ffc74a;
$main-dark-color: #b98000;
$secondary-color: #ed6950;
$grey-color: #8d97a5;
$grey-light-color: #bdc8d9;
$grey-medium-color: #606f81;
$grey-dark-color: #5f6264;
// size
$wrapper: 1920px;
$container: 1200px;
