section.explore 
  .explore-text
    span san
    span dom
    span ierz
  .container 
    h2.explore-title Explore city
    .explore-content 
      .explore-info 
        .explore-info-title Sandomirez
        p.explore-info-text-1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis expedita nisi ea. Debitis, earum deserunt fugit veniam maiores minus impedit harum nostrum? Repellat saepe sunt rerum aut modi, quisquam rem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis expedita nisi ea. Debitis, earum deserunt fugit veniam maiores minus impedit harum nostrum?
        p.explore-info-text-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis expedita nisi ea. Debitis, earum deserunt fugit veniam maiores minus impedit harum nostrum? Repellat saepe sunt rerum aut modi, quisquam rem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis expedita nisi ea. Debitis, earum deserunt fugit veniam maiores minus impedit harum nostrum? Repellat saepe sunt rerum aut modi.
        a(href="#").explore-button Check offers
      .explore-img
        img(src="./images/img-explore.png")
      
        
      
