.signup {
  min-height: 644px;
  padding: 0 15px;
  text-align: center;
  line-height: 1.3;
  background: url(../images/img-signup.png) center center / cover;
  @include flexbox((
    align-items: center,
    justify-content: center,
    flex-direction: column
  ));
  &-title {
    font-size: 9.2rem;
    font-weight: bold;
    color: #fff;
    line-height: 1.2;
    margin-bottom: 3rem;
  }
  &-button {
    text-decoration: none;
    text-transform: uppercase;
    padding: 2rem 4.6rem;
    border-radius: 3rem;
    margin-bottom: 4.6rem;
    background-color: $main-color;
    font-weight: bold;
    color: $main-dark-color;
    white-space: nowrap;
  }
  &-caption {
    font-size: 1.85rem;
    font-weight: 500;
    color: #fff;
    a {
      text-decoration: none;
      color: $main-color;
      border-bottom: 1px solid $main-color;
    }
  }
  @include maxWidth(767px) {
    &-title {
      font-size: 5.2rem;
    }
    &-button {
      padding: 1rem 3rem;
    }
  }
}