html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  line-height: 1; }

img {
  display: block;
  max-width: 100%; }

input,
button {
  outline: unset;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  line-height: 1; }

button {
  cursor: pointer; }

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px; }

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.header {
  padding: 0 4rem;
  min-height: 120rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7))), url(../images/img-header-bg.png) no-repeat center center/cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7)), url(../images/img-header-bg.png) no-repeat center center/cover;
  color: #fff;
  position: relative;
  --top-search-button-i-fz: 1.8rem;
  --center-button-height: 5rem;
  --bottom-item-height: 5rem; }
  .header-top {
    padding-top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .header-top-toggle {
      width: 3rem;
      height: 3rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      position: relative;
      display: none; }
      .header-top-toggle::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent; }
      .header-top-toggle-item {
        width: 100%;
        height: 3px;
        background-color: #fff;
        border-radius: 1rem;
        -webkit-transition: all 0.15s linear;
        transition: all 0.15s linear; }
        .header-top-toggle-item.toggle-item-1, .header-top-toggle-item.toggle-item-3 {
          width: 42px;
          will-change: transform; }
        .header-top-toggle-item.toggle-item-1 {
          -webkit-transform: translate(-13%, 460%) rotate(45deg);
          transform: translate(-13%, 460%) rotate(45deg); }
        .header-top-toggle-item.toggle-item-2 {
          opacity: 0;
          visibility: hidden; }
        .header-top-toggle-item.toggle-item-3 {
          -webkit-transform: translate(-13%, -437%) rotate(-45deg);
          transform: translate(-13%, -437%) rotate(-45deg); }
    .header-top-logo, .header-top-menu, .header-top-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
    .header-top-logo span {
      font-size: 3rem;
      font-weight: bold;
      margin-left: 2rem; }
    .header-top-item {
      cursor: pointer; }
      .header-top-item:not(:first-of-type) {
        margin-left: 5rem; }
    .header-top-link {
      text-decoration: none;
      font-size: 1.8rem;
      font-weight: 500;
      color: #fff; }
    .header-top-search {
      border-radius: 4px;
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
      .header-top-search input, .header-top-search button {
        border: unset; }
      .header-top-search input {
        width: 100%;
        padding: 1rem 1.5rem;
        color: #5f6264; }
        .header-top-search input::-webkit-input-placeholder {
          color: #8d97a5; }
        .header-top-search input::-moz-placeholder {
          color: #8d97a5; }
        .header-top-search input::-ms-input-placeholder {
          color: #8d97a5; }
        .header-top-search input::placeholder {
          color: #8d97a5; }
      .header-top-search button {
        padding: 0 1.5rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        background-color: #ed6950;
        -ms-flex-negative: 0;
        flex-shrink: 0; }
        .header-top-search button i {
          font-size: var(--top-search-button-i-fz);
          color: #ffc74a; }
  .header-center {
    margin-top: 24rem;
    text-align: center; }
    .header-center-heading span {
      display: block;
      font-size: 9.2rem;
      font-weight: bold; }
      .header-center-heading span:last-of-type {
        color: #ed6950;
        margin-bottom: 3rem; }
    .header-center-slogan {
      margin-bottom: 5.5rem;
      font-size: 18.19px;
      font-weight: 500;
      color: #5f6264; }
    .header-center-button {
      cursor: pointer;
      width: 100%;
      max-width: 23rem;
      height: var(--center-button-height);
      margin: 0 auto;
      border-radius: 3rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      background-color: #ffc74a;
      text-transform: uppercase;
      font-weight: bold;
      color: #b98000; }
  .header-bottom {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%); }
    .header-bottom-title {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      top: -5.5rem;
      font-size: 18.19px;
      font-weight: 500;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
      .header-bottom-title i {
        margin-left: 6px;
        font-size: 1rem;
        color: #ed6950;
        display: none; }
    .header-bottom-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      margin-left: -1.5rem;
      background: #fff;
      padding: 1.5rem 1.5rem 0 1.5rem; }
    .header-bottom .item {
      position: relative;
      width: calc(20% - 1.5rem);
      height: 40rem;
      margin-left: 1.5rem;
      border-radius: 4px;
      overflow: hidden;
      -ms-flex-negative: 0;
      flex-shrink: 0; }
      .header-bottom .item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease; }
      .header-bottom .item:hover::before {
        background-color: rgba(0, 0, 0, 0.3); }
      .header-bottom .item:hover .item-content {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0); }
      .header-bottom .item:hover .item-place {
        font-size: 3.8rem; }
      .header-bottom .item:hover .item-nation {
        color: #fff; }
      .header-bottom .item img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: inherit; }
      .header-bottom .item-content, .header-bottom .item-nation {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease; }
      .header-bottom .item-place {
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease; }
      .header-bottom .item-content {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 4rem;
        width: 100%;
        padding: 0 1rem;
        text-align: center;
        -webkit-transform: translate(-50%, 96px);
        transform: translate(-50%, 96px);
        will-change: transform; }
      .header-bottom .item-place {
        min-height: 4rem;
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 8px;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        word-break: break-word;
        line-height: 1;
        will-change: font-size; }
      .header-bottom .item-nation {
        font-weight: 500;
        margin-bottom: 7.6rem;
        color: #ffc74a;
        will-change: transform; }
      .header-bottom .item-button {
        width: 70%;
        height: var(--bottom-item-height);
        margin: 0 auto;
        border-radius: 3rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        background-color: #ffc74a;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: #b98000; }
  .header .slick-arrow {
    position: absolute;
    top: -6.5rem;
    background-color: transparent;
    border: unset; }
    .header .slick-arrow i {
      font-size: 4rem;
      color: #ed6950; }
  .header .slick-prev {
    left: 10%; }
  .header .slick-next {
    right: 10%; }
  @media screen and (max-width: 1279px) {
    .header-top-logo img {
      width: 4rem; }
    .header-top-logo span {
      font-size: 2.5rem; }
    .header-top-toggle {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .header-top-menu {
      position: fixed;
      top: 0;
      left: 0;
      right: 20%;
      bottom: 0;
      background-color: #000;
      z-index: 10;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      will-change: transform; }
      .header-top-menu.is-expand {
        -webkit-transform: translateX(0);
        transform: translateX(0); }
    .header-top-item {
      width: 100%; }
      .header-top-item:not(:nth-of-type(999)) {
        margin-left: 0;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1; }
      .header-top-item a {
        width: 100%;
        padding: 2rem 5rem; }
      .header-top-item:last-of-type {
        padding: 2rem 5rem;
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0; }
    .header-top-search {
      width: 100%; }
    .header-bottom .item {
      height: 35rem; } }
  @media screen and (max-width: 1023px) {
    .header {
      --top-search-button-i-fz: 1.6rem;
      --bottom-item-height: 4rem; }
      .header-bottom .item:hover .item-place {
        font-size: 3.4rem; } }
  @media screen and (max-width: 767px) {
    .header {
      padding: 0 1.5rem;
      min-height: 90rem;
      --top-search-button-i-fz: 1.4rem;
      --center-button-height: 4rem; }
      .header-top {
        padding-top: 2rem; }
        .header-top-logo img {
          width: 3.5rem; }
        .header-top-logo span {
          font-size: 2rem;
          margin-left: 1.5rem; }
        .header-top-item a {
          width: 100%;
          padding: 1.5rem; }
        .header-top-item:last-of-type {
          padding: 1.5rem;
          -webkit-box-ordinal-group: 1;
          -ms-flex-order: 0;
          order: 0; }
        .header-top-link {
          font-size: 1.6rem; }
        .header-top-search input {
          padding: 1rem; }
      .header-center {
        margin-top: 15rem; }
        .header-center-heading span {
          font-size: 5.2rem; }
        .header-center-slogan {
          font-size: 16.19px;
          line-height: 1.2; }
      .header-bottom-title {
        font-size: 16.19px;
        line-height: 1.2; }
        .header-bottom-title i {
          display: inline-block; }
      .header-bottom-list {
        margin-left: -1px;
        padding-left: 0;
        padding-right: 0; }
      .header-bottom .item {
        margin-left: 1.5rem;
        margin-right: 1.5rem; } }

.place {
  padding-top: 27rem;
  text-align: center;
  background-color: #fff; }
  .place-title, .explore-title {
    font-size: 3rem;
    font-weight: bold;
    color: #606f81;
    margin-bottom: 5rem; }
  .place-search {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3rem;
    background-color: #fff;
    -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 40px 0px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 40px 0px;
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .place-search input, .place-search button {
      border: unset;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      padding-left: 3rem;
      background-color: #fff; }
    .place-search input {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding-top: 2rem;
      padding-bottom: 2rem;
      border-radius: 3rem 0 0 3rem;
      font-size: 1.8rem;
      color: #606f81; }
    .place-search button {
      padding-right: 3rem;
      border-radius: 0 3rem 3rem 0; }
      .place-search button i {
        font-size: 1.8rem;
        color: #ffc74a; }
  .place-tag {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-bottom: 3rem; }
    .place-tag span {
      display: inline-block;
      padding: 1rem 1.5rem;
      border-radius: 2rem;
      font-weight: bold;
      cursor: pointer; }
      .place-tag span:not(:first-of-type) {
        margin-left: 1rem; }
    .place-tag-category span {
      background-color: #bdc8d9;
      color: #fff; }
      .place-tag-category span.active {
        background-color: #ffc74a; }
    .place-tag-destination span {
      border: 1px solid #f1f2f6;
      background-color: transparent;
      color: #8d97a5; }
  .place-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(0, 1fr))[3];
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-areas: "h1 h2 h3" "h4 h5 h6";
    grid-gap: 3rem;
    margin-bottom: 3rem; }
    .place-list .item {
      background-color: #fff;
      -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 40px 0px;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 40px 0px;
      max-height: 35rem;
      padding: 1rem;
      border-radius: 6px; }
      .place-list .item img {
        border-radius: inherit;
        width: 100%;
        height: 50%;
        -o-object-fit: cover;
        object-fit: cover; }
      .place-list .item-content {
        margin-top: 2.6rem;
        padding-left: 1rem;
        padding-right: 1rem; }
      .place-list .item-place {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 8px;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 1.2;
        color: #606f81; }
      .place-list .item-nation {
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 2.5rem;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #606f81; }
      .place-list .item-button {
        width: 50%;
        height: 4rem;
        margin: 0 auto;
        border-radius: 3rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        background-color: #fff;
        -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 20px 0px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 20px 0px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: #bdc8d9;
        -webkit-transition: all 0.25s linear;
        transition: all 0.25s linear; }
        .place-list .item-button:hover {
          background-color: #ffc74a;
          -webkit-box-shadow: unset;
          box-shadow: unset;
          color: #b98000; }
  @media screen and (max-width: 1279px) {
    .place-list {
      -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-areas: "h1 h2" "h3 h4" "h5 h6";
      grid-gap: 2rem;
      margin-bottom: 2rem; }
    .place-title, .explore-title {
      margin-bottom: 4rem; }
    .place-search input {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem; } }
  @media screen and (max-width: 1023px) {
    .place {
      padding-top: 23rem; }
      .place-list {
        grid-gap: 1.5rem;
        margin-bottom: 1.5rem; }
      .place-title, .explore-title {
        font-size: 2.8rem; }
      .place-tag {
        margin-bottom: 2.5rem; }
        .place-tag span {
          padding: 8px 1.5rem; }
      .place-search input, .place-search button {
        padding-left: 2rem; }
      .place-search input {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1.6rem; }
      .place-search button {
        padding-right: 2rem; }
        .place-search button i {
          font-size: 1.6rem; } }
  @media screen and (max-width: 767px) {
    .place-tag {
      display: block;
      text-align: left;
      margin-bottom: 1.5rem; }
      .place-tag-category, .place-tag-destination {
        margin-left: -1rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        row-gap: 1rem; }
        .place-tag-category span:first-of-type, .place-tag-destination span:first-of-type {
          margin-left: 1rem; }
      .place-tag-category {
        margin-bottom: 1.5rem; }
    .place-list {
      -ms-grid-columns: (minmax(0, 1fr))[1];
      grid-template-columns: repeat(1, minmax(0, 1fr));
      grid-template-areas: "h1" "h2" "h3" "h4" "h5" "h6"; }
    .place-search button i {
      font-size: 1.4rem; } }
  @media screen and (max-width: 424px) {
    .place-title, .explore-title {
      font-size: 2.5rem; } }

.explore {
  min-height: 90rem;
  padding-top: 7rem;
  padding-bottom: 5rem;
  background-color: #f8f9fb;
  text-align: center;
  position: relative;
  overflow: hidden; }
  .explore-text {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -20rem; }
    .explore-text span {
      display: block;
      text-transform: uppercase;
      font-size: 354.71px;
      font-weight: bold;
      color: #fff;
      text-shadow: 0 0 20px rgba(234, 234, 234, 0.5);
      line-height: 0.75; }
  .explore .container {
    position: relative; }
  .explore-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .explore-info {
    width: 50%;
    padding-top: 4.5rem;
    padding-right: 3.5rem;
    text-align: left; }
    .explore-info-title {
      margin-bottom: 5rem;
      font-size: 3.6rem;
      font-weight: bold;
      color: #ffc74a; }
    .explore-info-text-1, .explore-info-text-2 {
      color: #606f81;
      font-weight: 500;
      width: 100%;
      max-width: 100%;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      word-break: break-word;
      line-height: 1.8; }
    .explore-info-text-1 {
      margin-bottom: 4rem; }
    .explore-info-text-2 {
      margin-bottom: 6rem; }
  .explore-button {
    width: 40%;
    height: 5rem;
    border-radius: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    background-color: #ffc74a;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #b98000; }
  .explore-img {
    width: 50%;
    position: relative;
    height: 0;
    padding-bottom: 50%; }
    .explore-img img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      border-radius: 4px; }
  @media screen and (max-width: 1023px) {
    .explore {
      padding-bottom: 4rem; }
      .explore-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
      .explore-info {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        width: 100%;
        margin-bottom: 0;
        padding-right: 0;
        padding-top: 0; }
        .explore-info-title {
          font-size: 2.8rem;
          margin-bottom: 3rem; }
        .explore-info-text-1 {
          margin-bottom: 2rem; }
        .explore-info-text-2 {
          margin-bottom: 3rem; }
      .explore-button {
        margin: 0 auto; }
      .explore-img {
        width: 100%;
        padding-bottom: 100%;
        margin-bottom: 4rem;
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0; } }
  @media screen and (max-width: 767px) {
    .explore {
      padding-top: 5rem; }
      .explore-button {
        width: 100%;
        height: 4rem; } }

.signup {
  min-height: 644px;
  padding: 0 15px;
  text-align: center;
  line-height: 1.3;
  background: url(../images/img-signup.png) center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .signup-title {
    font-size: 9.2rem;
    font-weight: bold;
    color: #fff;
    line-height: 1.2;
    margin-bottom: 3rem; }
  .signup-button {
    text-decoration: none;
    text-transform: uppercase;
    padding: 2rem 4.6rem;
    border-radius: 3rem;
    margin-bottom: 4.6rem;
    background-color: #ffc74a;
    font-weight: bold;
    color: #b98000;
    white-space: nowrap; }
  .signup-caption {
    font-size: 1.85rem;
    font-weight: 500;
    color: #fff; }
    .signup-caption a {
      text-decoration: none;
      color: #ffc74a;
      border-bottom: 1px solid #ffc74a; }
  @media screen and (max-width: 767px) {
    .signup-title {
      font-size: 5.2rem; }
    .signup-button {
      padding: 1rem 3rem; } }

.footer {
  min-height: 496px;
  background-color: #fff;
  position: relative;
  overflow: hidden; }
  .footer-underText {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 354.71px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 30px rgba(234, 234, 234, 0.5); }
  .footer .container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }
  .footer-logo {
    width: 5rem;
    margin: 0 auto;
    margin-bottom: 2rem; }
  .footer-copyRights {
    font-size: 2.4rem;
    font-weight: bold;
    color: #606f81;
    line-height: 1.3; }
  @media screen and (max-width: 1279px) {
    .footer-logo {
      width: 4rem; } }
  @media screen and (max-width: 767px) {
    .footer-logo {
      width: 3.5rem; }
    .footer-copyRights {
      font-size: 2rem; } }
